/*body{
    display: flex;
}*/

div {
    /*margin: auto;*/
    padding: 70px 500px;
    font-size: 25px;
}

h1 {
    color: rgb(27, 216, 27);
    text-align: center;
}

.span_1 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

span {
    color: red;
}

.pre_1 {
    background-color: rgb(224, 221, 221);
    color: blue;
}

.span_2 {
    color: black;
    font-style: italic;
}