body {
    background: url(./images/background.gif) repeat-y;
    background-size: contain;
}

div {
    background-color: rgb(0, 0, 0);
    width: 750px;
    height: 700px;
    margin: 50px auto;
    color: rgb(252, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.img_1 {
    width: 100%;
}

a {
    color: rgb(247, 8, 8);
}

.b_1,
.img_2 {
    display: block;
}

footer {
    padding-top: 200px;
    font-size: 12px;
    color: rgba(236, 233, 233, 0.473);
}